* {
	box-sizing: border-box;
}

/* ==== common ==== */
/*.clearfix {
	clear: both;
}*/

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}
/* ================ */

body {
	font-family: Helvetica, 'Arial Black', 'LiHei Pro', '微軟正黑體', '新細明體', sans-serif;
	font-size: 15px;
}

.wrap {
	width: 1000px;
	margin: 0 auto;
}

header {
	background-image: url(../final/img/banner.jpg);
	background-position: -24px 6px;
	margin-top: 3px;
}

/* ==== social-link ==== */
.social-link {
	background-color: #f6f6f6;
	line-height: 28px;
	color: #cccccc;
	font-weight: 700;
	text-align: right;
	width: 100%;
}

.social-link div {
	margin: 0 10px 0 5px;
	border-right: 1px solid #ccc;
	display: inline;
}

.fb, .twitter {
	text-decoration: none;
}

.fb {
	color: #4460a0;
}

.twitter {
	color: #00aaec;
	margin-right: 10px;
}

.fb:hover, .twitter:hover {
	color: red;
}

.fb:active, .twitter:active {
	color: #00cb99;
}

/* ==== header-menu ==== */
header nav {
	line-height: 20px;
	padding: 8px 10px 0 20px;
	background-color: #fff;
}

header nav ul {
	margin-top: 8px;
	float: right;
}

header nav ul li {
	display: inline;
	padding: 0 10px 12px 10px;
	margin: 0 0px 0 16px;
}

header nav ul li:hover {
	border-bottom: 3px solid #00cb99;
}

header nav ul li a {
	color: #00cb99;
	text-decoration: none;
}

/* ==== header-banner ==== */
.banner {
	color: white;
	font-size: 36px;
	background-color: rgba(0,0,0,0.2);
	padding: 1em 0;
	margin: 95px 0 0 0;
	line-height: 1.3em;
}

.banner {
	padding-left: 20px;
}

header .paddingfix {
	height: 80px;
}

/* ==== class-info ==== */
.classes {
	padding: 66px 20px;
	display:block;
	overflow:auto;
}

.classes .html5,
.classes .rwd,
.classes .jquery {
	width: 300px;
	text-align: center;
	border: 1px solid #f1f1f1;
	border-radius: 1%;
	box-shadow: 0 3px #d9d9d9;
	padding: 16px;
	float: left;
}

.classes .html5,
.classes .rwd {
	margin-right: 24px;
}

.classes .img-container {
	height: 164px;
	line-height: 164px;
	width: 100%;

	/* 內容置中 */
	display: flex;
	align-items: center;
	justify-content: center
}

.classes h2 {
	font-weight: 600;
	font-size: 18px;
	line-height: 28px;
}

.classes p {
	text-align: justify;
	line-height: 24px;
	
}

.classes ul {
	text-align: left;
}

.classes ul li {
	line-height: 24px
}


/* ==== compares ==== */
.compare-title {
	text-align: center;
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 20px;
}
.compare {
	border-top: 1px solid #bbb;
	width: 85%;
	margin: 0 auto;
	
}

.compare tr {
	border-bottom: 1px solid #bbb;
	line-height: 32px;
}

.compare th,
.compare td {
	text-align: left;
}


.compare th {
	background-color: #f1f1f1;
	font-weight: 700;
}

/* 中間兩欄擴大 */
.compare th:nth-child(n+2):nth-last-child(n+2) {
	width: 250px;
}

/* 第一欄 padding-left */
.compare th:first-child,
.compare td:first-child {
	padding-left: 20px;
}

/* ==== request form ==== */
.request {
	background: linear-gradient(#00554b,#009872);
	background: -webkit-linear-gradient(#00554b, #009872);
	background: -o-linear-gradient(#00554b, #009872);
	background: -moz-linear-gradient(#00554b, #009872);
	color: #fff;
	margin-top: 60px;
	padding: 30px 0;
	display:block;
	overflow:auto;
}

.request h2 {
	text-align: center;
	font-size: 24px;
	line-height: 36px;
}
.request div {
	margin-top: 28px;
}
.request ul {
	margin-right: 20px;
	float:right;
}

.request li {
	line-height: 24px;
}

.request li:last-child {
	text-align: right;
}

.request li:nth-child(2n+3) {
	margin-top: 10px;
}

.request textarea,
.request input {
	border-radius: 3px;
	width: 460px;
	border-style: none;
	resize: none;
	padding: 0 5px;
}

.request textarea:hover,
.request input[type=text]:hover {
	box-shadow: 2px 0px 2px 1px blue inset;
}

.request textarea:focus,
.request input[type=text]:focus {
	box-shadow: 2px 0px 2px 1px red inset;
}

.request ul input {
	height: 28px;
}

.request input[type=submit] {
	width: 70px;
	height: 32px;
	color: #fff;
	background-color: #00cc99;
	border-radius: 3px;
	border-style: none;
	margin-top: 10px;
}

.request input[type=submit]:hover {
	color: yellow;
	background-color: blue;
}

.request input[type=submit]:active {
	color: red;
	background-color: yellow;
}

.request textarea {
	margin-left: 20px;
	float: left;
	height: 228px;
}

/* ==== footer ==== */
footer {
	height: 120px;
	position: relative;
}

footer img {
	position: absolute;
	left: 20px;
	top: 28px;
}

.contact {
	position: absolute;
	right: 20px;
	top: 28px;
}

.contact span {
	color: #e12d80;
}

.contact a {
	color: #e12d80;
	text-decoration: none;
	line-height: 24px;
}

.color-default {
	color: #00cb99;
}